<!-- <h1>Hello World</h1>
<h2>{{title}}</h2>
<h2>This is component example</h2>
<div *ngIf='checkingif'>This is ngif example</div>
<button (click)='btnClick()'>Click me</button>
<p [ngStyle]="{'color':'red', 'font-weight': 'bold'}">This is ngStyle example</p> -->
<h2>Welcome to {{ title }}</h2>
<h3>Router links example</h3>
<a [routerLink]="['/student']">Student</a>
<a [routerLink]="['/studentdetails']">Student Details</a>
<a [routerLink]="['/parentdetails']">Parent Details</a>
<br>
<button (click)="student()">Show Student</button>
<router-outlet></router-outlet>
<table border="1">
    <tr>
        <td>Emp Code</td>
        <td>Name</td>
        <td>Salray</td>
        <td>Dob</td>
    </tr>
    <tr *ngFor='let employee of employees'>
        <td>{{employee.code}}</td>
        <td>{{employee.name | uppercase}}</td>
        <td>{{employee.salary | currency}}</td>
        <td>{{employee.dob | date : "dd/MMM/yyyy"}}</td>
    </tr>
</table>
<header [ngClass]="'three four'">Using ngClass as string</header>
<p [ngClass]="'one two'">Using ngClass as string</p>
<div *ngFor="let user of users" [ngClass]="'three four'">{{user}}</div>
<p [ngClass]="{'one' : true, 'three': false}">Using ngClass as object</p>
<div [ngClass]="getCSSClass('mode1')">Using ngClass with component method</div>
<h2>Employee Name : {{empFirstName + " " + empLastName}}</h2>
<p>{{a}} + {{b}} = {{a + b}}</p>
<span [innerHTML]='title'></span>
First Name : <span [innerHTML]='empFirstName'></span>
<img [src]="'http://angular.io/assets/images/logos/angular/angular.svg'" [height]='200'/>

<table  height="100" width="400" [attr.border]="bdr">
    <tr>
        <td [attr.colspan]="cols">Student Details</td>
    </tr>
    <tr>
        <td>ID</td>
        <td>Name</td>
        <td>Class</td>
    </tr>
    <tr>
        <td>001</td>
        <td>Haroon</td>
        <td>one</td>
    </tr>
</table>

<h2>event example</h2>
<button (click)="btnClick()">Click me</button>
<br>
Enter your name : <input [value]='data' (input)='data=$event.target.value'/>
<br>
Your Name : {{data}}
<br>
<input [(ngModel)]='data1'>
<h2>Enter value : {{data1}}</h2>
